In [1]:
import pandas as pd

In [2]:
from IPython.display import display

In [3]:
file_path_1 = 'datasets/DSP_2.csv'

In [4]:
df = pd.read_csv(file_path_1)

In [5]:
pd.set_option('display.max_rows', 7)

In [6]:
pd.set_option('display.max_columns', 7)

In [7]:
pd.set_option('display.width', 1000)

In [8]:
pd.set_option('display.colheader_justify', 'center') # nie działa

In [9]:
pd.set_option('display.precision', 3)

In [10]:
display(df)

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0    40    M       ATA      ...    0.0        Up          0
1    49    F       NAP      ...    1.0      Flat          1
2    37    M       ATA      ...    0.0        Up          0
..   ...  ..           ...  ...      ...       ...           ...
915  57    M       ASY      ...    1.2      Flat          1
916  57    F       ATA      ...    0.0      Flat          1
917  38    M       NAP      ...    0.0        Up          0

[918 rows x 12 columns]

In [23]:
file_path_2 = 'datasets/DSP_4.csv'

In [28]:
df_1 = pd.read_csv(file_path_2, sep=';')

In [31]:
print(df_1.columns)

Index(['objawy', 'wiek', 'choroby', 'wzrost', 'leki'], dtype='object')

In [32]:
df_3 = df_1.fillna(df_1.median(numeric_only=True))

In [33]:
wiek_median = df_1['wiek'].median()

In [34]:
wzrost_median = df_1['wzrost'].median()

In [36]:
print(f"Mediana dla wieku: {wiek_median}")
print(f"Mediana dla wzrostu: {wzrost_median}")

Mediana dla wieku: 43.0
Mediana dla wzrostu: 187.0

In [37]:
df_4 = df_1.fillna(0)

In [38]:
print(df_3) # brakujące wartości wypełnione medianą

    objawy  wiek  choroby  wzrost  leki
0      1    43.0     0      170.0    2
1      1    65.0     0      187.0    3
2      1    55.0     0      182.0    4
..     ...   ...      ...     ...   ...
57     5    42.0     2      187.0    3
58     5    32.0     0      168.0    4
59     5    34.0     1      187.0    3

[60 rows x 5 columns]

In [39]:
print(df_4) # brakujące wartości wypełnione zerami

    objawy  wiek  choroby  wzrost  leki
0      1     0.0     0      170.0    2
1      1    65.0     0        0.0    3
2      1    55.0     0      182.0    4
..     ...   ...      ...     ...   ...
57     5    42.0     2      187.0    3
58     5    32.0     0      168.0    4
59     5    34.0     1      187.0    3

[60 rows x 5 columns]

In [41]:
file_path_5 = 'datasets/DSP_5.csv'

In [42]:
df_5 = pd.read_csv(file_path_5, sep=';')

In [43]:
print(df.isnull().sum())

Age              0
Sex              0
ChestPainType    0
                ..
Oldpeak          0
ST_Slope         0
HeartDisease     0
Length: 12, dtype: int64

In [45]:
mean_hp = df_5['hp'].mean()

In [46]:
df_5['hp'] = df_5['hp'].fillna(mean_hp)

In [47]:
hp_mean = df_5['hp'].mean()

In [48]:
hp_variance = df_5['hp'].var()

In [49]:
hp_range = df_5['hp'].max() - df_5['hp'].min()

In [50]:
print(f"Średnia: {hp_mean}")
print(f"Wariancja: {hp_variance}")
print(f"Rozstęp: {hp_range}")

Średnia: 143.51612903225805
Wariancja: 4379.023933402706
Rozstęp: 283.0

In [52]:
correlation_matrix = df_5.select_dtypes(include='number').corr()

In [53]:
print(correlation_matrix)

       mpg    cyl   disp   ...   am    gear   carb
mpg   1.000 -0.852 -0.848  ...  0.600  0.480 -0.551
cyl  -0.852  1.000  0.902  ... -0.523 -0.493  0.527
disp -0.848  0.902  1.000  ... -0.591 -0.556  0.395
...     ...    ...    ...  ...    ...    ...    ...
am    0.600 -0.523 -0.591  ...  1.000  0.794  0.058
gear  0.480 -0.493 -0.556  ...  0.794  1.000  0.274
carb -0.551  0.527  0.395  ...  0.058  0.274  1.000

[11 rows x 11 columns]

In [54]:
print(correlation_matrix['hp'].sort_values(ascending=False))

hp      1.000
cyl     0.812
disp    0.772
        ...
qsec   -0.666
vs     -0.706
mpg    -0.748
Name: hp, Length: 11, dtype: float64

In [55]:
file_path_8 = 'datasets/DSP_8.csv'
df_8 = pd.read_csv(file_path_8)

In [56]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [57]:
num_columns = df_8.shape[1]
column_names = df_8.columns.tolist()
print(f"Liczba kolumn: {num_columns}")
print("Nazwy kolumn:", column_names)

Liczba kolumn: 12
Nazwy kolumn: ['Age', 'Sex', 'ChestPainType', 'RestingBP', 'Cholesterol', 'FastingBS', 'RestingECG', 'MaxHR', 'ExerciseAngina', 'Oldpeak', 'ST_Slope', 'HeartDisease']

In [58]:
num_rows = df_8.shape[0]
print(f"Liczba wierszy (obserwacji): {num_rows}")

Liczba wierszy (obserwacji): 918

In [59]:
missing_data = df_8.isnull().sum()
print("\nBraki danych w kolumnach:")
print(missing_data[missing_data > 0])

Braki danych w kolumnach:
Series([], dtype: int64)

In [60]:
mean_age_men = df_8[df_8['Sex'] == 'M']['Age'].mean()
std_age_men = df_8[df_8['Sex'] == 'M']['Age'].std()
mean_age_women = df_8[df_8['Sex'] == 'F']['Age'].mean()
std_age_women = df_8[df_8['Sex'] == 'F']['Age'].std()

In [61]:
print(f"\nŚredni wiek mężczyzn: {mean_age_men:.2f}, Odchylenie standardowe: {std_age_men:.2f}")
print(f"Średni wiek kobiet: {mean_age_women:.2f}, Odchylenie standardowe: {std_age_women:.2f}")

Średni wiek mężczyzn: 53.78, Odchylenie standardowe: 9.40
Średni wiek kobiet: 52.49, Odchylenie standardowe: 9.52

In [62]:
percentage_men = (df_8['Sex'].value_counts(normalize=True)['M']) * 100
print(f"\nOdsetek mężczyzn w zbiorze danych: {percentage_men:.2f}%")

Odsetek mężczyzn w zbiorze danych: 78.98%

In [63]:
num_women_45_50 = df_8[(df_8['Sex'] == 'F') & (df_8['Age'].between(45, 50))].shape[0]
print(f"\nLiczba kobiet w wieku od 45 do 50 lat: {num_women_45_50}")

Liczba kobiet w wieku od 45 do 50 lat: 36

In [66]:
normal_ecg_df = df_8[df_8['RestingECG'] == 'Normal']
normal_ecg_correlation = normal_ecg_df.select_dtypes(include='number').corr()
print("\nTabela korelacji dla osób z normalnym EKG:")
print(normal_ecg_correlation)

Tabela korelacji dla osób z normalnym EKG:
               Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
Age           1.00    0.23       -0.13        0.18    -0.38    0.25        0.24
RestingBP     0.23    1.00        0.14       -0.01    -0.12    0.12        0.05
Cholesterol  -0.13    0.14        1.00       -0.35     0.22    0.03       -0.28
FastingBS     0.18   -0.01       -0.35        1.00    -0.11    0.08        0.28
MaxHR        -0.38   -0.12        0.22       -0.11     1.00   -0.20       -0.43
Oldpeak       0.25    0.12        0.03        0.08    -0.20    1.00        0.43
HeartDisease  0.24    0.05       -0.28        0.28    -0.43    0.43        1.00